<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div>
    <form th:method="POST" th:action="@{/admin}" th:object="${user}">
        <label for="username">Enter username</label>
        <input type="text" th:field="*{username}" id="username"/>
        </br>
        <label for="password">Enter password</label>
        <input type="text" th:field="*{password}" id="password"/>
        </br>
        <label for="password">Enter first name</label>
        <input type="text" th:field="*{firstName}" id="firstName"/>
        </br>
        <label for="password">Enter last name</label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        </br>
        <label for="password">Enter phone number</label>
        <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>
        </br>
        <label for="roles">Roles</label>
        <div id="roles">
            <div th:each="role : ${roleAdmin}">
                <input type="checkbox" name="roles" th:id="${roleAdmin.name}" th:value="${roleAdmin.name}">
                <label th:for="${roleAdmin.name}" th:text="${roleAdmin.name}"/>
            </div>
            <div th:each="role : ${roleUser}">
                <input type="checkbox" name="roles" th:id="${roleUser.name}" th:value="${roleUser.name}">
                <label th:for="${roleUser.name}" th:text="${roleUser.name}"/>
            </div>
        </div>
        </br>
        <input type="submit" value="Add new user"/>
        </br>
        <a type="button" th:href="@{/logout}">Logout</a></p>

    </form>
</div>
</body>
</html>